# Переменные окружения и секреты (ВАЖНО!)
.env
.env.*

# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# База данных (локальная SQLite, если используется)
*.sqlite3

# Статические файлы и медиа
staticfiles/
media/

# Системные файлы
.DS_Store
Thumbs.db