{% extends "base.html" %}
{% load i18n %}

{% block content %}
<h1 class="my-4">{% translate "Задачи" %}</h1>
<a class="btn btn-primary mb-3" href="{% url 'task_create' %}">{% translate "Создать задачу" %}</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>{% translate "Имя" %}</th>
            <th>{% translate "Статус" %}</th>
            <th>{% translate "Автор" %}</th>
            <th>{% translate "Исполнитель" %}</th>
            <th>{% translate "Дата создания" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td><a href="{% url 'task_show' task.id %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author.get_full_name }}</td>
            <td>{{ task.executor.get_full_name|default:"" }}</td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'task_show' task.id %}">{% translate "Показать" %}</a><br>
                <a href="{% url 'task_update' task.id %}">{% translate "Изменить" %}</a><br>
                <a href="{% url 'task_delete' task.id %}">{% translate "Удалить" %}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}