{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">
    {% if object.pk %}
        {% translate "Изменение пользователя" %}
    {% else %}
        {% translate "Регистрация" %}
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% if object.pk %}
            <input class="btn btn-primary" type="submit" value="Изменить">
        {% else %}
            <input class="btn btn-primary" type="submit" value="Зарегистрировать">
        {% endif %}
</form>
{% endblock %} 