{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<h1 class="my-4">
    {% if object.pk %}
        {% translate "Изменение пользователя" %}
    {% else %}
        {% translate "Регистрация" %}
    {% endif %}
</h1>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
        {% if object.pk %}
            {% translate "Изменить" %}
        {% else %}
            {% translate "Зарегистрировать" %}
        {% endif %}
    </button>
</form>
{% endblock %} 