{% load django_bootstrap5 %}
{% load i18n %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% translate "Менеджер задач" %}</title>
    {% bootstrap_css %}
</head>
<body class="h-100">
    <div class="d-flex flex-nowrap min-vh-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="fs-4">{% translate "Менеджер задач" %}</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="{% url 'users' %}" class="nav-link text-white">{% translate "Пользователи" %}</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'statuses' %}" class="nav-link text-white">{% translate "Статусы" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'tasks' %}" class="nav-link text-white">{% translate "Задачи" %}</a>
                    </li>
                {% endif %}
            </ul>
            <hr>
            <ul class="nav nav-pills flex-column">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{% url 'login' %}" class="nav-link text-white">{% translate "Вход" %}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'user_create' %}" class="nav-link text-white">{% translate "Регистрация" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <!-- Выход через POST-запрос-->
                        <form action="{% url 'logout' %}" method="post" class="nav-link p-0">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link text-white text-decoration-none">
                                {% translate "Выход" %}
                            </button>
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>

        <main class="container-fluid p-5 bg-light overflow-auto">
            <!-- Блок для Flash-сообщений -->
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}

            {% block content %}{% endblock %}
        </main>
    </div>
    {% bootstrap_javascript %}
</body>
</html>