{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="p-5 mb-4 bg-white border rounded-3 shadow-sm">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">{% translate "Привет от Хекслета!" %}</h1>
        <p class="col-md-8 fs-4 text-muted">{% translate "Практическое руководство по Django" %}</p>
        <hr class="my-4">
        <p>{% translate "Менеджер задач" %}</p>
        <a class="btn btn-primary btn-lg px-4" href="#" role="button">
            {% translate "Узнать больше" %}
        </a>
    </div>
</div>
{% endblock %}